@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap");

body {
  font-family: "Public Sans", sans-serif;
}

/* O asteristico serve para estilizar todos
    os elementos HTML da página 
    
    Vamos zerar a margin e o padding

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

img {
  /* Todas as imagens terá uma largura de 100% */
  max-width: 100%;
}

a {
  /* Não irá colocar ___ em todas as linhas */
  text-decoration: none;
}

ul {
  /* Tira os ponto de listagem  */
  list-style: none;
}

html {
  /* Animação mais suave ao clicar */
  scroll-behavior: smooth;
}

/* CABEÇALHO */

.cabecalho .logo .imagem {
  width: 100px;
}

.cabecalho {
  /* Torna o elemento um flex container automaticamente 
  transformando todos os seus filhos diretos em flex itens. */
  display: flex;

  /* Espaçamento  entre os elementos */
  justify-content: space-between;

  /* Alinhar ao centro */
  align-items: center;

  /* Padding de 25 para cima e para baixo e 
  0 para esquerda e direita */
  padding: 25px 0;

  max-width: 1170px;

  margin: 0 auto;

  /* Quando não tiver mais espaço, quebre para baixo */
  flex-wrap: wrap;
}

.cabecalho .logo {
  display: flex;
  align-items: center;

  /* Tranformando o texto em caixa alta */
  text-transform: uppercase;
}

.cabecalho .titulo {
  margin-left: 7px;
  font-size: 17px;

  /* Transição mais suave de cor */
  transition: 0.3s ease-in-out;

  /* Peso de fonte */
  font-weight: 800;
}

.cabecalho .titulo:hover {
  /* Troca de cor do Titulo */
  color: #1ed760;
}

.cabecalho .navegacao .menu {
  display: flex;
}

.cabecalho .navegacao .menu .item {
  margin: 10px;
}

.cabecalho .navegacao .menu .item a {
  padding: 15px;
  transition: 0.3s ease-in-out;
}

.cabecalho .navegacao .menu .item a:hover {
  background-color: #1ed760;
  color: white;
}
/* CABEÇALHO */
